bottle==0.13.4
bottle-websocket==0.2.9
cffi==2.0.0
Eel==0.18.2
future==1.0.0
gevent==26.4.0
gevent-websocket==0.10.1
greenlet==3.4.0
importlib_resources==7.1.0
Jinja2==3.1.6
MarkupSafe==3.0.3
pycparser==3.0
pyparsing==3.3.2
setuptools==82.0.1
typing_extensions==4.15.0
wheel==0.38.4
zope.event==6.1
zope.interface==8.3
